<div id="home">
  <!-- begin jumbotron -->
  <div class="jumbotron jumbotron-custom" id="jumbotron">
    <div class="container">
      <!-- header: TODAY VIEW -->
      <h1 class="display-4" id="page-heading">Today</h1>
      <hr class="my-4">
      <!-- daily quote -->
      <p class="lead" id="quote">&ldquo;It is not the mountain we conquer, but ourselves.&rdquo;</p>
    </div>
  </div>
  <!-- end jumbotron -->

  <div class="container">
    <!-- begin goals and progress section -->

    <!-- Projects Progress section -->
    <div class="row">
      <div class="col-12 mb-3" id="projects">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Your Projects</h3>
            <div id="progress-report" class="row text-center">
              <div class="col-md-4 col-sm-12" id="chart-container1">
                <canvas id="project1"></canvas>
              </div>
              <div class="col-md-4 col-sm-12" id="chart-container2">
                <canvas id="project2"></canvas>
              </div>
              <div class="col-md-4 col-sm-12" id="chart-container3">
                <canvas id="project3"></canvas>
              </div>
            </div>
            <div class="row" id="project-titles">
              <div class="col-4">
                <p>Science Project</p>
              </div>
              <div class="col-4">
                <p>Space Station Construction</p>
              </div>
              <div class="col-4">
                <p>DIY Nuclear Reactor</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Goals section -->
        <div class="row" id="goals">
          <div class="col-12 mt-4">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Goals</h3>
                <div id="goal-progress" class="col-md-4 col-sm-12 text-center">
                  <canvas id="goalChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end goals and progress section -->


    <!-- begin due soon and message center -->
    <div class="row">
      <!-- begin due soon section -->
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">Due Today</h3>
            <ul class="list-group list-group-flush today-container" id="today-list">
              <!-- put the due today items here -->
              {{#each tasks}}
              <li class="list-group-item" data-complete="{{this.is_complete}}" data-id={{this.id}} id="list-item-{{this.id}}">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input due-item" id="checkbox-{{this.id}}" data-id={{this.id}}>
                  <label class="custom-control-label" for="checkbox-{{this.id}}">{{this.task_name}}</label>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <!-- end due soon section -->

      <!-- begin message center -->
      <div class="col-md-6 d-none">
        <ul class="list-group mb-3">
          <li class="list-group-item">Cras justo odio</li>
        </ul>
        <a href="form" class="btn btn-primary button float-left mb-3">Form</a>
      </div>
      <!-- end message center -->

    </div>
    <!-- end due soon and message center -->

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/js/index.js"></script>